# Archivos y directorios de compilación
/www/
/dist/
/tmp/
/out-tsc/
/bazel-out/
/.angular/
/.angular/cache/
/.ionic/
/.sourcemaps/
/.nx/
/.nx/cache/

# Dependencias
/node_modules/
/platforms/
/plugins/

# Archivos de Android específicos
/android/.gradle/
/android/build/
/android/app/build/
/android/capacitor-cordova-android-plugins/
/android/app/src/main/assets/public/
/android/app/src/main/assets/capacitor.config.json
/android/app/src/main/assets/capacitor.plugins.json
/android/app/src/main/res/xml/config.xml
/android/local.properties
/android/.idea/

# iOS
/ios/App/App/public
/ios/App/App/capacitor.config.json
/ios/App/Pods
/ios/App/build
/ios/DerivedData

# Archivos de IDE/editores
/.idea/
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
.project
.classpath
*.sublime-project
*.sublime-workspace
.history/

# Archivos específicos de pruebas
/coverage/
/connect.lock/
/libpeerconnection.log
testem.log
karma-*.log

# Archivos del sistema
.DS_Store
Thumbs.db
*.log
log.txt
npm-debug.log
yarn-error.log

# Archivos temporales
.tmp
*.tmp
*.tmp.*
*.sw[mnpcod]
*~
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Archivos de configuración específicos del entorno
.env*
!.env.example

# Archivos específicos de CodeGPT
/.codegpt/

# Otros archivos
*.apk
*.aab
*.ipa
*.dex
*.class
*.hprof