<app-header [title]="'Mi Perfil'"></app-header>

<ion-content [fullscreen]="true">
  <div class="profile-container" *ngIf="userData">
    <!-- Avatar with initials -->
    <div class="profile-avatar" [style.background]="gradients[selectedGradient - 1].gradient">
      <span class="initials">{{userInitials}}</span>
      <ion-button fill="clear" 
                  class="change-gradient-button"
                  (click)="selectGradient()">
        <ion-icon name="color-palette-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- profile form -->
    <ion-list class="profile-form">
      <!-- Name -->
      <div class="field-container">
        <div class="field-label">Nombre</div>
        <ion-item lines="none">
          <div *ngIf="!isEditing" class="non-editable-value">{{userData.name}}</div>
          <ion-input
            *ngIf="isEditing"
            [(ngModel)]="userData.name"
            autocapitalize="words">
          </ion-input>
        </ion-item>
      </div>

      <!-- Currency -->
      <div class="field-container">
        <div class="field-label">Moneda</div>
        <ion-item lines="none">
          <div *ngIf="!isEditing" class="non-editable-value">{{selectedCurrency.symbol}} - {{selectedCurrency.name}}</div>
          <ion-input
            *ngIf="isEditing"
            readonly
            [value]="selectedCurrency.symbol + ' - ' + selectedCurrency.name">
          </ion-input>
          <ion-select *ngIf="isEditing"
            [(ngModel)]="selectedCurrency"
            (ionChange)="onCurrencyChange($event.detail.value)"
            interface="action-sheet"
            [interfaceOptions]="{ header: 'Seleccionar Moneda' }">
            <ion-select-option *ngFor="let currency of currencies" [value]="currency">
              {{currency.symbol}} - {{currency.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>

    <!-- theme settings -->
    <div class="section-title">Apariencia</div>
    <ion-list class="theme-settings">
      <app-theme-toggle></app-theme-toggle>
    </ion-list>

    <!-- action buttons -->
    <div class="action-buttons">
      <ion-button *ngIf="!isEditing" 
                  expand="block"
                  (click)="isEditing = true"
                  class="edit-button">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        Editar Perfil
      </ion-button>

      <div class="data-buttons">
        <ion-button expand="block"
          color="secondary"
          (click)="importDatabase()"
          class="import-button">
          <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
          Importar datos
        </ion-button>

        <ion-button expand="block"
          color="tertiary"
          (click)="exportDatabase()"
          class="export-button">
          <ion-icon name="download-outline" slot="start"></ion-icon>
          Exportar datos
        </ion-button>
      </div>

      <ng-container *ngIf="isEditing">
        <ion-button expand="block"
                    (click)="saveChanges()"
                    class="save-button">
          Guardar Cambios
        </ion-button>
        <ion-button expand="block"
                    fill="outline"
                    color="medium"
                    (click)="cancelEdit()"
                    class="cancel-button">
          Cancelar
        </ion-button>
      </ng-container>
    </div>
  </div>
</ion-content>