ion-tab-bar {
    --background: var(--ion-toolbar-background);
    border-radius: 8px 8px 0 0;
    box-shadow: var(--ion-tab-bar-shadow, 0 -4px 12px rgba(0, 0, 0, 0.05));
  }
  
  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
  
    &::before {
      display: none;
    }
  }
  
  ion-icon {
    font-size: 24px;
  }
  
  ion-label {
    font-size: 12px;
    font-weight: 500;
  }
  
  // adjust the tab bar shadow for dark mode
  .override-dark-mode ion-tab-bar {
    --ion-tab-bar-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  }
  
  @media (prefers-color-scheme: dark) {
    body:not(.override-light-mode) ion-tab-bar {
      --ion-tab-bar-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
    }
  }